*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    line-height: 1.6;
    background: #f4f4f4;
     
}
.header {
    background: #0d6efd;
    color: #fff;
    padding: 40ps 20px;
    text-align: center;

}

main {
    padding: 20px;

}

.services, .contact{
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;

}

.services ul {
    list-style: nome;
    margin-top: 10px;


}
form {
    display:flex;
    flex-direction: column;
    gap: 10px;

}

input, textarea{
    padding: 10px;

}
 button {
    padding: 10px;
    background: #0d6efd;
    color: #fff;
    border: none;
    cursor: pointer;

 }
 button:hover{
    opacity: 0.9;
 }
 footer{
    text-align: center;
    padding: 10px;
 }
 
 @media (min-width: 768px) {
    main{
        max-width: 900px;
        margin: auto;
    }
 }